## Customize flags given to the VM: http://erlang.org/doc/man/erl.html

## Do not set -name or -sname here: OvcsBus.Distribution starts distribution
## at runtime. The cookie is the release `:cookie` option from mix.exs.
-setcookie <%= @release.options[:cookie] %>

+Bc
+C multi_time_warp
-mode embedded
-code_path_choice strict
+sbwt none
+sbwtdcpu none
+sbwtdio none
-kernel shell_history enabled
-heart -env HEART_BEAT_TIMEOUT 30

-noshell
-user elixir
-run elixir start_cli

-elixir ansi_enabled true

-extra --no-halt
--
--dot-iex /etc/iex.exs
